<div class="container-fluid row m-0 p-0">
    <div class="col-5">
      <div class="d-flex justify-content-center">
        <img src="assets/lassie.png" class="img mat-elevation-z3">
    </div>
      <div class="name">Snigdha <span class="yellow">Banani</span></div>
      <h6 class="text-center">Cretaive Designer</h6>
      <div class="offset-2">
        <div><i class="fa-solid fa-user me-2"></i>Snigdha Banani</div>
        <div><i class="fa-solid fa-calendar me-2"></i>05.10.1995</div>
        <div><i class="fa-solid fa-location-dot me-2"></i>99 Overstone Ct, Cardiff CF10 5NU, UK</div>
        <div><i class="fa-solid fa-phone me-2"></i>++44 7405263106</div>
        <div><i class="fa-solid fa-envelope me-2"></i>snigdha.banani05@gmail.com</div>
      </div>
    </div>
    <div class="col-7 d-flex row information" mat-dialog-content>
      <div class="col-12">
        <div class="header">About <span class="yellow">Me</span></div>
        <div class="content">
          <p>
            Hello everybody! My name is <span class="yellow">Snigdha Banani.</span>
            I am a graphic designer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional a graphic designer, I have acquired the skills and knowledge. 
        </p>
        </div>
      </div>

      <div class="col-12">
        <div class="header">Quality <span class="yellow">Services</span></div>
        <div class="content">

        </div>
      </div>
      
      <div class="col-12">
        <div class="header">Programming <span class="yellow">Skills</span></div>
        <div class="content">
          <div>
            Angular
            <mat-progress-bar class="mb-2 yellow" mode="determinate" value="95"></mat-progress-bar>
          </div>
          <div>
            Javascript
            <mat-progress-bar class="mb-2 yellow" mode="determinate" value="90"></mat-progress-bar>
          </div>
          <div>
            Java
            <mat-progress-bar class="mb-2 yellow" mode="determinate" value="80"></mat-progress-bar>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="header">Language <span class="yellow">Skills</span></div>
        <div class="content">

        </div>
      </div>

      <div class="col-12">
        <div class="header">Education <span class="yellow">Timeline</span></div>
        <div class="content">

        </div>
      </div>

      <div class="col-12">
        <div class="header">Working <span class="yellow">Timeline</span></div>
        <div class="content">

        </div>
      </div>
  </div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
