<div class="container-fluid row">
    <div class="col-8 d-flex offset-2">
        <div class="col-6 d-flex justify-content-center">
            <img src="assets/lassie.png" class="img mat-elevation-z3">
        </div>
        <div class="col-6">
            <div class="name">Snigdha <span class="yellow">Banani</span></div>
            <h6>Cretaive Designer</h6>
            <p>
                My name is <span class="yellow">Snigdha Banani.</span>
                I am a graphic designer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional a graphic designer, I have acquired the skills and knowledge. 
            </p>
            <button class="primary-btn" (click)="openDialog()">Learn More</button>
        </div>
    </div>
</div>